<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="CONSOLE_LOG_PATTERN"
		value="${CONSOLE_LOG_PATTERN:-
	%clr(%d{yyyy-MM-dd HH:mm:SSS}){faint}%clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-11X{var:-var-value}){magenta} %clr(-){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="FILE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

	<logger name="org.springframework.boot" level="DEBUG" additivity="false" />
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" />
	<logger name="org.springframework.boot.web.filter" level="INFO" />
	<logger name="cn.com.flaginfo" level="DEBUG" />
	<logger name="com.flaginfo" level="DEBUG" />
	<logger name="com.alibaba" level="DEBUG" additivity="true" />

</configuration>